.container{
  width: 280px;
}

.header{
  background-color: #F0F0F0;
  border-radius: 10px 10px 0px 0px;
}

.foto{
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.footer{
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  padding-bottom: 40px;
}

.nome{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.cargo{
  font-weight: bold;
  font-family: 'Times New Roman';
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  padding: 0 16px;
}